* {
    margin :0;
    padding: 0;
    overflow: hidden;
}

#canvas1 {
    background-color: white;
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
}

img {
    display: none;
}

#warpButton {
    padding: 1rem;
    margin: 0.5rem;
    width: 6rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: bolder;
    color: red;
    
}